.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    background-color: var(--beige);
}

.header .logo img {
    height: 1.5rem;
}

.header-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

.header-nav-list li a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.5s ease;
}

.header-nav-list li a:hover {
    color: rgb(218, 213, 79);
}

