:root {
  --button: #c9b62c;
  --beige: #faf5db;
  --pink: #f4aae9;
  --darkColor: #726b68;
  --textColor: #323030;
  --gradient: linear-gradient(135deg, #f6c2ee 0%, #faf5db 50%, #d1fad1);
}

.App {
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::-webkit-scrollbar{
  display: none;
}

.blur{
  position: absolute;
  border-radius: 50%;
  filter: blur(170px);
  z-index: 0;
}